.settings
.idea
gen
bin
out
gen-external-apklibs
/.classpath
/.project
/.idea
classes
project.properties
*.iml
build
.DS_Store
unpacked-aar/
dependencies.txt
/dexposed/local.properties
/dexposed/.idea
/dexposed/build
/dexposed/.gradle
/dexposed/.DS_Store
/sample/dexposedexamples/.gradle
/sample/dexposedexamples/local.properties
