<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taobao.android.dexposed"
    android:versionCode="1"
    android:versionName="0.1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="false" >

    </application>

</manifest>
